.App {
  max-width: 640px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.App-heading {
  text-align: center;
}

.App-button {
  background-color: darkgray;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
}

.App-button:hover {
  background-color: rgb(145, 145, 145);
}

/* .container {
  max-width: 400px;
} */

.data-point {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 ;
}

.submit {
  display: block;
  margin-left: auto;
}

.info-box {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.final-cv {
  background-color: white;
}